{% load static %}

<div class="post-item">
    <div class="row">
        <div class="col-2">
            <div class="d-flex justify-content-center">
                <div class="avatar">
                    <img src="{{ item.author.avatar.url }}" alt="" />
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <div class="user-name">{{item.author}}</div>
            </div>
            {% include '../inc/rating.html' %}
        </div>
        <div class="col-10" style="position: relative;">

            {% block link%}
            {% endblock %}

            <div class="post-item-text">
                {{item.text}}
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, eveniet.
                Delectus quos modi repellendus magni autem ut error maxime eos labore eveniet
                ratione temporibus exercitationem cupiditate fuga, sint obcaecati quas eligendi
                sequi, beatae mollitia magnam, deserunt doloribus dignissimos! Delectus quos modi repellendus magni
                autem ut error maxime eos labore eveniet ratione temporibusPossimus totam. Ocaecati officia libero
                tenetur aliquam mollitia alias vitae, porro
                autem?
            </div>

            {% block content%}
            {% endblock %}

        </div>
    </div>
</div>