<!doctype html>
{% load static %}
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AskChestnova</title>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body class="d-flex flex-column h-100">

    <header>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'index' %}">AskMe</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse" style="justify-content: space-between;">
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">

                    </form>
                    <a href="{% url 'ask' %}" class="btn btn-success">Ask</a>
                </div>

                {% if is_auth %}
                <div class="user-block">
                    <div class="row justify-content-end">
                        <div class="col-2">
                            <div class="current-user-avatar">
                                <img src="{% static 'img/user0.jpg' %}" alt="" />
                            </div>
                        </div>
                        <div class="col-9 text-right my-auto">
                            <div class="btn-group" role="group" aria-label="Basic outlined example">
                                <a href="{% url 'settings' %}" class="btn btn-outline-primary">Settings</a>
                                <a href="#" class="btn btn-outline-primary">Log out</a>
                            </div>
                        </div>
                    </div>
                </div>

                {% else %}

                <div class="user-block">
                    <div class="row justify-content-end">
                        <div class="col-10 text-right my-auto">
                            <div class="btn-group" role="group" aria-label="Basic outlined example">
                                <a href="{% url 'signup' %}" class="btn btn-outline-primary">Register</a>
                                <a href="{% url 'login' %}" class="btn btn-outline-primary">Log in</a>
                            </div>
                        </div>
                    </div>
                </div>

               {% endif %}

            </div>
        </nav>
    </header>

    <!-- Begin page content -->
    <main class="flex-shrink-0">

        <div class="container">

            <div class="row">
                <div class="col-9">
                    
                    {% block content%}
                    {% endblock %}

                </div>
                <div class="col-3 text-center">
                    <div class="popular-tags">
                        <p>Popular Tags</p>
                        {% for tag in tags.all %}
                        <a href="{% url 'tag' tag %}">{{ tag }}</a>
                        {% endfor %}
                    </div>
                    <div class="best-members">
                        <p>Best Members</p>
                        <div class="list-group">
                            <a href="">User 1</a>
                            <a href="">User 2</a>
                            <a href="">User 3</a>
                            <a href="">User 4</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="/docs/5.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>


</body>

</html>