{% extends "inc/base.html" %}

{% load static %}

{% block content %}

<div class="title">
    <h1>Log in</h1>
</div>
<form>
    <div class="row mb-3">
        <div class="error-text">
            Sorry, wrong login or email
        </div>
    </div>
    <div class="row mb-3">
        <label for="inputLogin" class="col-sm-1 col-form-label">Login</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" value="user_4" id="inputLogin">
        </div>
    </div>
    <div class="row mb-3">
        <label for="inputPassword" class="col-sm-1 col-form-label">Password</label>
        <div class="col-sm-4">
            <input type="password" class="form-control" id="inputPassword">
        </div>

    </div>
    <div class="row mb-3">
        <div class="col-sm-1 col-form-label"></div>
        <div class="col-sm-4">
            <button type="submit" class="btn btn-primary disabled">Log in</button>
        </div>
    </div>

</form>

{% endblock %}
