{% extends "inc/base.html" %}

{% load static %}

{% block content %}

<div class="post-item border-bottom" style="border: none; padding: 10px;">
    <div class="row ">
        <div class="col-2">
            <div class="big-avatar">
                <img src="{% static question.user.photo %}" alt="" />
            </div>
            <div class="user-name">{{question.user.name}}</div>
            {%include 'inc/rating.html'%}
        </div>
        <div class="col-10" style="position: relative;">

            <h1 class="question-title">{{question.title}}</h1>
            <div class="full-text">
                {{question.text}} Delectus quos modi repellendus magni autem ut error maxime eos labore eveniet
                ratione temporibusDelectus quos modi repellendus magni autem ut error maxime eos labore eveniet
                ratione temporibusDelectus quos modi repellendus magni autem ut error maxime eos labore eveniet
                ratione temporibusDelectus quos modi repellendus magni autem ut error maxime eos labore eveniet
                ratione temporibusDelectus quos modi repellendus magni autem ut error maxime eos labore eveniet
                ratione temporibusDelectus quos modi repellendus magni autem ut error maxime eos labore eveniet
                ratione temporibusDelectus quos modi repellendus magni autem ut error maxime eos labore eveniet
                ratione temporibusDelectus quos modi repellendus magni autem ut error maxime eos labore eveniet
                ratione temporibusDelectus quos modi repellendus magni autem ut error maxime eos labore eveniet
                ratione temporibusDelectus quos modi repellendus magni autem ut error maxime eos labore eveniet
                ratione temporibusDelectus quos modi repellendus magni autem ut error maxime eos labore eveniet
                ratione temporibusDelectus quos modi repellendus magni autem ut error maxime eos labore eveniet
                ratione temporibus
            </div>
            <div class="under-question">
                {% include 'inc/tags.html' %}
            </div>
        </div>
    </div>
</div>

<textarea class="form-control" id="inputAnswer" style="margin-bottom: 10px;"
    placeholder="Type your answer here"></textarea>
<button type="submit" style="margin-bottom: 20px;" class="btn btn-primary">Answer</button>

{% for item in page_obj %}
{%include 'inc/answer_item.html' %}
{% endfor %}


{% include 'inc/paginator.html' %}

{% endblock %}