{% extends "inc/base.html" %}

{% load static %}

{% block content %}

<div class="post-item border-bottom" style="border: none; padding: 10px;">
    <div class="row ">
        <div class="col-2">
            <div class="big-avatar">
                <img src="{% static question.user.photo %}" alt="" />
            </div>
            <div class="user-name">{{question.user.name}}</div>
            <div class="rating">
                <p class="counter">{{question.rating}}</p>
                <div class="btn-group-vertical">
                    <button type="button" class="btn btn-primary btn-sm">Like</button>
                    <button type="button" class="btn btn-danger btn-sm">Dislike</button>
                </div>
            </div>
        </div>
        <div class="col-10" style="position: relative;">

            <h2 class="question-title">{{question.title}}</h2>
            <div class="full-text">
                {{question.text}} Delectus quos modi repellendus magni autem ut error maxime eos labore eveniet
                ratione temporibusDelectus quos modi repellendus magni autem ut error maxime eos labore eveniet
                ratione temporibusDelectus quos modi repellendus magni autem ut error maxime eos labore eveniet
                ratione temporibusDelectus quos modi repellendus magni autem ut error maxime eos labore eveniet
                ratione temporibusDelectus quos modi repellendus magni autem ut error maxime eos labore eveniet
                ratione temporibusDelectus quos modi repellendus magni autem ut error maxime eos labore eveniet
                ratione temporibusDelectus quos modi repellendus magni autem ut error maxime eos labore eveniet
                ratione temporibusDelectus quos modi repellendus magni autem ut error maxime eos labore eveniet
                ratione temporibusDelectus quos modi repellendus magni autem ut error maxime eos labore eveniet
                ratione temporibusDelectus quos modi repellendus magni autem ut error maxime eos labore eveniet
                ratione temporibusDelectus quos modi repellendus magni autem ut error maxime eos labore eveniet
                ratione temporibusDelectus quos modi repellendus magni autem ut error maxime eos labore eveniet
                ratione temporibus
            </div>
            <div class="under-question">
                <div class="tags">Tags:
                    {% for tag in question.tags %}
                    <a href="{% url 'tag' tag=tag %}">{{tag}}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<textarea class="form-control" id="inputAnswer" style="margin-bottom: 10px;"
    placeholder="Type your answer here"></textarea>
<button type="submit" style="margin-bottom: 20px;" class="btn btn-primary">Answer</button>

{% for item in page_obj %}
{%include 'inc/answer_item.html' %}
{% endfor %}


{% include 'inc/paginator.html' %}

{% endblock %}