{% extends "inc/base.html" %}

{% load static %}

{% block content %}
<div class="title">
    <h1>Settings: {{user.name}}</h1>
</div>
<form>
    <div class="row mb-3">
        <label for="inputLogin" class="col-sm-1 col-form-label">Login</label>
        <div class="col-sm-11">
            <input type="text" class="form-control" value={{user.login}} id="inputLogin">
        </div>
    </div>
    <div class="row mb-3">
        <label for="inputEmail" class="col-sm-1 col-form-label">Email</label>
        <div class="col-sm-11">
            <input type="email" class="form-control" value={{user.email}} id="inputEmail">
        </div>
    </div>
    <div class="row mb-3">
        <label for="inputNickName" class="col-sm-1 col-form-label">NickName</label>
        <div class="col-sm-11">
            <input type="text" class="form-control" value ={{user.name}} id="inputNickName">
        </div>
    </div>
    <div class="row mb-3">
        <label for="inputAvatar" class="col-sm-1 col-form-label">Upload avatar</label>
        <div class="col-sm-11">
            <div class="avatar-setting" id="inputAvatar">
                <img src="{% static user.photo %}" alt="" />
            </div>
            <input class="form-control" type="file" id="formFile">
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-1 col-form-label"></div>
        <div class="col-sm-11">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </div>
</form>
{% endblock %}