{% extends "inc/base.html" %}

{% load static %}

{% block content %}

<div class="title">
    <h1>Registration</h1>
</div>
<form>
    <div class="row mb-3">
        <div class="error-text">
            Sorry, this email already registred
        </div>
    </div>
    <div class="row mb-3">
        <label for="inputLogin" class="col-sm-2 col-form-label">Login</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" value="user_4" id="inputLogin">
        </div>
    </div>
    <div class="row mb-3">
        <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" value="user_1@mail.ru" id="inputEmail">

        </div>

    </div>
    <div class="row mb-3">
        <label for="inputNickName" class="col-sm-2 col-form-label">NickName</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" value="User 4" id="inputNickName">
        </div>
    </div>
    <div class="row mb-3">
        <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="inputPassword">
        </div>
    </div>
    <div class="row mb-3">
        <label for="inputPasswordAgain" class="col-sm-2 col-form-label">Repeat Password</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="inputPasswordAgain">
        </div>
    </div>
    <div class="row mb-3">
        <label for="inputAvatar" class="col-sm-2 col-form-label">Upload avatar</label>
        <div class="col-sm-10">
            <input class="form-control" type="file" id="inputAvatar">
            <div class="avatar-default">
                <img src="{% static 'img/no-user.jpg' %}" alt="" />
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-2 col-form-label"></div>
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary disabled">Register</button>
        </div>
    </div>
</form>
{% endblock %}